[general]
version=@{bare_version}_static_deps

[BUILD_SCRIPT]
configure=
     mkdir -p @{build_dir}/x264
     cd @{build_dir}/x264
     @{source_dir}/x264/configure --prefix=@{install_dir} --enable-static
     mkdir -p @{build_dir}/fdk-aac
     cd @{build_dir}/fdk-aac
     @{source_dir}/fdk-aac/configure --prefix=@{install_dir} --disable-shared
     mkdir -p @{build_dir}/opus
     cd @{build_dir}/opus
     @{source_dir}/opus/configure --prefix=@{install_dir} --disable-shared
     mkdir -p @{build_dir}/libvpx
     cd @{build_dir}/libvpx
     @{source_dir}/libvpx/configure --prefix=@{install_dir} --disable-shared --disable-examples

make=
     cd @{build_dir}/x264
     make @{parallel_make}
     cd @{build_dir}/fdk-aac
     make @{parallel_make}
     cd @{build_dir}/opus
     make @{parallel_make}
     cd @{build_dir}/libvpx
     make @{parallel_make}

install=
     cd @{build_dir}/x264
     make install
     cd @{build_dir}/fdk-aac
     make install
     cd @{build_dir}/opus
     make install
     cd @{build_dir}/libvpx
     make install

[MODULEFILE]
setenv_home=
        setenv FFMPEG_STATICDEPS @{template.install_dir}
        # setenv

conflict=#conflict
prereq=#ba_modules_prereq

prepend_path.PATH=# prepend-path
prepend_path.MANPATH=# prepend-path
prepend_path.LD_LIBRARY_PATH=# prepend-path